[Desktop Entry]
Version=0.5
Name=Lexitron
Exec=/home/jason/dev/src/python3/lexicon/lexitron.py --interface g
Icon=/home/jason/dev/src/python3/lexicon/lexitron.png
Terminal=false
Type=Application
